<link rel="stylesheet" href="/css/app.css">    


<h1>Fruits List</h1>

<nav>
    <a href="/fruits/new">Create a New Fruit</a>
</nav>
<ul>
<% for (i in fruits){ %>
<li>
<a href="/fruits/<%=fruits[i]._id %>"> <%= fruits[i].name  %></a>


<%= fruits[i].color  %>
<%= fruits[i].readyToEat %>
<form action="/fruits/<%= i %>?_method=DELETE" method="POST">
			<input class="button" type="submit" value="DELETE"/>
		</form>
                <a class="button" href="/fruits/<%=fruits[i]._id %>/edit">Edit</a>

</li>
<% } %>
</ul>