<p><%= link_to 'Back', actors_path() %></p>


<h3>
<%= @actor.name %>
</h3>
<img src=<%= "#{@actor.image}" %>  alt="">
<p>
<%= @actor.dob %>
</p>
<p><%= link_to 'Edit', edit_actor_path(@actor) %></p>
<p><%= link_to 'Delete', actor_path(@actor), method: :delete %></p>